name: Lint

permissions:
  contents: read
  pull-requests: read

on:
  push:
    branches:
      - main
    paths:
      - README.md
  pull_request:
    types:
      - opened
      - synchronize
    paths:
      - README.md

jobs:
  awesome-lint:
    name: Run awesome-lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run awesome-lint
        run: npx awesome-lint
