name: Typos

permissions:
  contents: read

on:
  push:
    branches:
      - main
    paths:
      - README.md
      - CONTRIBUTING.md
  pull_request:
    types:
      - opened
      - synchronize
    paths:
      - README.md
      - CONTRIBUTING.md

jobs:
  typos:
    name: Spell check with typos
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Check for typos
        uses: crate-ci/typos@v1
